doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Complete Your Payment
    style.
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
      }
      .container {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      .header {
        text-align: center;
        padding: 10px 0;
        background-color: #007BFF;
        color: #ffffff;
        border-radius: 8px 8px 0 0;
      }
      .content {
        padding: 20px;
        text-align: center;
      }
      .content p {
        font-size: 16px;
        line-height: 1.5;
        color: #333333;
      }
      .btn {
        display: inline-block;
        padding: 10px 20px;
        margin-top: 20px;
        font-size: 18px;
        color: #ffffff;
        background-color: #007BFF;
        border: none;
        border-radius: 5px;
        text-decoration: none;
      }
      .btn:hover {
        background-color: #0056b3;
      }
      .footer {
        margin-top: 20px;
        text-align: center;
        font-size: 14px;
        color: #777777;
      }
  body
    .container
      .header
        h1 Complete Your Payment
      .content
        p Thank you for choosing Umoja Airways. Please complete your payment by clicking the button below:
        a.btn(href=emailMe.paymentLinkUrl target='_blank') Complete Payment
        p Make sure to use the following email while making the payment: #{emailMe.passengerEmail},
      .footer
        p If you have any questions, feel free to contact our support team.
        p &copy; #{new Date().getFullYear()} Umoja Airways. All rights reserved.
